<div class="home-container">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">HomePage</a>
      </div>
    </div>
  </nav>
  <div class="list-container">
    <div class="page-header">
      <h1>Form to upload files</h1>
    </div>
    <form class="form-horizontal" #f="ngForm" novalidate (ngSubmit)="submit()" enctype="multipart/form-data">
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col-md-offset-2 col-md-10">
                <label class="uploadLable"> Upload Files: </label>
                <div class="form-group fileUpload"> 
                    <label class="btn btn-primary">
                    <span>Browse <i class="fa fa-folder-open" aria-hidden="true"></i></span>
                      <input type="file" id="fileUpload" (change)="onFileChange($event)" hidden> 
                </label>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="submit-wrapper">
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
              <button mat-raised-button color="primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr/>
    <form class="form-horizontal" #f="ngForm" novalidate (ngSubmit)="sendStr()">
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input 
                    name="inputStr"
                    matInput
                    placeholder="enter any string"
                    (keypress)="charOnlyInputField($event)"
                    [(ngModel)]="inputString"
                    required
                  >
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <button class="strSubmit" mat-raised-button color="primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr/>
    <form class="form-horizontal" #f="ngForm" novalidate (ngSubmit)="sendDataUrl()">
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input 
                    name="inputStr"
                    matInput
                    placeholder="enter number 1"
                    (keypress)="numOnlyInputField($event)"
                    [(ngModel)]="inputNbr1"
                    required
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input 
                    name="inputStr"
                    matInput
                    placeholder="enter number 2"
                    (keypress)="numOnlyInputField($event)"
                    [(ngModel)]="inputNbr2"
                    required
                  >
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <button class="strSubmit" mat-raised-button color="primary">Find Product</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
