  @font-face {
    font-family: Trench;
    src: url(../../../assets/fonts/trench/trench100free.otf);
  }
  .title {
    line-height: 40px;
    width: 20%;
    margin: auto;
    text-align: center;
    font-family: Trench;
    font-size: 30px;
    color: white;
  }

  .login_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 60px;
    background: linear-gradient(186deg, #27d9c3, #2742d9);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
  }

  @-webkit-keyframes AnimationName {
    0%{background-position:30% 0%}
    50%{background-position:71% 100%}
    100%{background-position:30% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:30% 0%}
      50%{background-position:71% 100%}
      100%{background-position:30% 0%}
  }
  @keyframes AnimationName { 
      0%{background-position:30% 0%}
      50%{background-position:71% 100%}
      100%{background-position:30% 0%}
  }

input{
  background-color: grey;
  width: 50%;
  padding: 12px 20px;
  margin: 18px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: yellow;
  color:black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[disabled] {
  background-color: rgba(255, 255, 0, 0.6) !important;
  cursor: default !important;
}

.form {
  width: 600px;
  margin: 20px auto 40px;
}

.form input {
  margin: 10px auto;
  color: white;
}

.greeting {
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: white;
}

.hint {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: #c6c6c6;
}

.text-danger {
  float: right;
  font-size: 15px;
  font-weight: bolder;
  margin-right: -13%;
  margin-top: -8%;
}

.submit {
  width: 50%;
  margin: auto;
}

::-webkit-input-placeholder {
  color: #ccc;
}
:-ms-input-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}